@import "../style/constants.css";

.guess-list.vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.guess-list>div {
  user-select: none;
}

.guess-list.horizontal {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  overflow-x: hidden;
}

.guess-list.horizontal>div {
  margin-right: 0.5em;
}

.incorrect-guess {
  color: var(--color-content-low-contrast-dark);
  text-decoration: line-through;
}

.repeat-guess {
  color: var(--color-content-low-contrast-dark);
}

.correct-guess {
  text-decoration: none;
}
