@import "../../style/constants.css";

.game-horizontal-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.game-horizontal-container>.left-pane {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 1vh;
  border-right: 1px solid gray;
}

.game-horizontal-container>
  .left-pane>
    .board-holder,
.game-vertical-container>.board-holder {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.game-horizontal-container>.right-pane {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: .5em;
}

.game-horizontal-container>
  .right-pane>
    .list-titles-holder {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: .7em;
  margin-top: .3em;
  display: flex;
  flex-direction: row;
  font-weight: bolder;
}

.game-horizontal-container>
  .right-pane>
    .list-titles-holder>
      div {
  width: fit-content;
}

.game-horizontal-container>
  .right-pane>
    .list-titles-holder>
      div:first-child {
  margin-right: auto;
}

.game-horizontal-container>
  .right-pane>
    .list-titles-holder>
      div:last-child {
  margin-left: auto;
  width: 33%;
}

.game-horizontal-container>
  .right-pane>
    .lists-holder {
  display: flex;
  flex-direction: row;
}

.game-horizontal-container>
  .right-pane>
    .lists-holder>
      .found-words-holder {
  min-width: 33%;
}

.game-horizontal-container>
  .right-pane>
    .lists-holder>
      div:first-child {
  margin-right: auto;
}

.game-horizontal-container>
  .right-pane>
    .lists-holder>
      div:last-child {
  margin-left: auto;
}

.game-vertical-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1vh;
  box-sizing: border-box;
}

.game-vertical-container>.score-holder {
  margin-top: auto;
  margin-bottom: 1vh;
}
