@import "../../style/constants.css";

.container {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
}

.section:first-child {
  margin-right: auto;
  margin-left: 5px;
}

.section:last-child {
  margin-left: auto;
  margin-right: 5px;
}

.title {
  font-weight: var(--font-weight-light);
  align-self: center;
}

.info {
  font-weight: var(--font-weight-bold);
  align-self: center;
}
