@import "../style/constants.css";

.game-modes {
  display: flex;
  margin-top: .5vh;
  align-items: stretch;
  width: 100%;
}

.game-modes-details {
  display: flex;
  flex-direction: row;
  background-color: var(--color-accent);
  color: var(--color-background-dark);
  justify-content: center;
  width: 100%;
}

.game-modes-detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-subscript);
  margin: 1vh;
}

.game-modes-ruleset {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.game-modes-ruleset-list {
  width: 100%;
}

.game-modes-ruleset>div:first-child {
  margin-right: auto;
  margin-left: 1vh;
}

.game-modes-ruleset-selected {
  color: var(--color-content-dark);
  background-color: var(--color-background-dark-alt);
}

.game-modes-add-game-mode-button {
  text-decoration: none;
  width: fit-content;
  background-color: var(--color-background-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-modes-add-game-mode-prompt {
  text-decoration: none;
  color: var(--color-content-dark);
  font-size: calc(var(--font-size) - 2px);
}
