@import "../style/constants.css";

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.home-title {
  margin-bottom: 5vh;
}

.home-title-letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-title-letter {
  margin: .5vh;
  padding: 1vh;
  background-color: var(--color-accent);
  color: var(--color-background-dark);
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-bold);
  vertical-align: middle;
  font-size: var(--font-size-title);
}

.home-game-option>div {
  font-size: var(--font-size);
  margin-left: .5vh;
  margin-right: .5vh;
}

.home-button-defaults {
  text-decoration: none;

  color: var(--color-content-dark);
}

.home-play-game-button>svg {
  margin-right: .5vh;
}

.home-game-options, .home-game-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.home-buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-inline-end: auto;
  margin-inline-start: auto;
  width: 40vh;
}

.home-button-defaults {
  background-color: var(--color-background-dark-alt);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  padding-inline-end: .5vh;
  padding-inline-start: .5vh;
  width: 45%;
  max-width: 45%;
}
