@import "../style/constants.css";

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home-high-score {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  font-size: calc((var(--font-size-subscript) + var(--font-size)) / 2);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline-start: 1vw;
  margin-block-start: 1vh;
}

.home-game-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;
}
.home-game-buttons>div {
  margin-top: 1rem;
}

.home-game-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-game-options>div:first-child {
  margin-inline-end: 0.5rem;
}

.home-buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-inline-end: auto;
  margin-inline-start: auto;
  width: min(40vh, 75vw);
}
