:root {
  --font-size: clamp(1em, min(2.5vh, 4vw), 2em);
  --font-size-title: clamp(1.5em, min(3vh, 5.25vw), 3em);
  --font-size-subscript: clamp(0.5em, min(2vh, 2.75vw), 1em);
  --font-weight-bold: bolder;
  --font-weight-light: lighter;

  --color-content-dark: #93a1a1;
  --color-content-light: #586e75;

  --color-content-low-contrast-dark: #657b83;
  --color-content-low-contrast-light: #839496;

  --color-background-dark: #002b36;
  --color-background-dark-alt: #073642;
  --color-background-light: #eee8d5;
  --color-background-light-alt: #fdf6e3;

  --color-accent: #268bd2;
}
