:root {
  --font-size: clamp(1rem, min(2.5vh, 4vw), 2rem);
  --font-size-title: clamp(1.5rem, min(3vh, 5.25vw), 3rem);
  --font-size-subscript: clamp(0.5rem, min(2vh, 2.75vw), 1rem);
  --font-weight-bold: bolder;
  --font-weight-light: lighter;

  --font-size-xs: clamp(0.25rem, min(1.5vh, 1.50vw), 0.5rem);
  --font-size-s: clamp(0.5rem, min(2vh, 2.75vw), 1rem);
  --font-size-m: clamp(1rem, min(2.5vh, 4vw), 2rem);
  --font-size-l: clamp(1.5rem, min(3vh, 5.25vw), 3rem);
  --font-size-xl: clamp(2rem, min(3.5vh, 6.50vw), 4rem);

  --color-content-dark: #93a1a1;
  --color-content-light: #586e75;

  --color-content-low-contrast-dark: #657b83;
  --color-content-low-contrast-light: #839496;

  --color-background-dark: #002b36;
  --color-background-dark-alt: #073642;
  --color-background-light: #eee8d5;
  --color-background-light-alt: #fdf6e3;

  --color-accent: #268bd2;
  --color-green: #2aa198;
  --color-red: #dc322f;
  --color-yellow: #b58900;

  --padding-xs: calc(2 / 3 * clamp(0.25rem, min(1.5vh, 1.50vw), 0.5rem));
  --padding-s: calc(2 / 3 * clamp(0.5rem, min(2vh, 2.75vw), 1rem));
  --padding-m: calc(2 / 3 * clamp(1rem, min(2.5vh, 4vw), 2rem));
  --padding-l: calc(2 / 3 * clamp(1.5rem, min(3vh, 5.25vw), 3rem));
  --padding-xl: calc(2 / 3 * clamp(2rem, min(3.5vh, 6.50vw), 4rem));
}
