@import "../style/constants.css";

.row {
  display: flex;
  user-select: none;
}

/* .board>.row {
  margin-left: auto;
  margin-right: auto;
} */

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.spacer {
  box-sizing: border-box;
  min-height: 30px;
  min-width: 30px;
  display: flex;
  position: relative;
  /* align-content: center;
  align-items: center; */
  border-top: 1px solid var(--color-content-low-contrast-dark);
  border-left: 1px solid var(--color-content-low-contrast-dark);
}

.spacer:last-child {
  border-right: 1px solid var(--color-content-low-contrast-dark);
}

.row:last-child>.spacer {
  border-bottom: 1px solid var(--color-content-low-contrast-dark)
}

.activator {
  min-height: 20px;
  min-width: 20px;
  margin: auto;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.letter {
  width: fit-content;
  height: fit-content;
}

.board-letter-score {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

:root {
  --activator-container-scaler: 0.66;
  --letter-font-scaler: 0.4;

  /* ---- HORIZONTAL VARS ---- */
  --horizontal-max-size: 74vh;
  --horizontal-min-size: 48vh;
  --horizontal-preferred-size: 48vw;
  --horizontal-6-max-size: calc(var(--horizontal-max-size) / 6);
  --horizontal-6-min-size: calc(var(--horizontal-min-size) / 6);
  --horizontal-6-preferred-size: calc(var(--horizontal-preferred-size) / 6);
  --horizontal-5-max-size: calc(var(--horizontal-max-size) / 5);
  --horizontal-5-min-size: calc(var(--horizontal-min-size) / 5);
  --horizontal-5-preferred-size: calc(var(--horizontal-preferred-size) / 5);
  --horizontal-4-max-size: calc(var(--horizontal-max-size) / 4);
  --horizontal-4-min-size: calc(var(--horizontal-min-size) / 4);
  --horizontal-4-preferred-size: calc(var(--horizontal-preferred-size) / 4);

  --horizontal-6-spacer-size: clamp(var(--horizontal-6-min-size), var(--horizontal-6-preferred-size), var(--horizontal-6-max-size));
  --horizontal-6-activator-size: calc(var(--horizontal-6-spacer-size) * var(--activator-container-scaler));
  --horizontal-6-font-size: calc(var(--horizontal-6-spacer-size) * var(--letter-font-scaler));
  --horizontal-5-spacer-size: clamp(var(--horizontal-5-min-size), var(--horizontal-5-preferred-size), var(--horizontal-5-max-size));
  --horizontal-5-activator-size: calc(var(--horizontal-5-spacer-size) * var(--activator-container-scaler));
  --horizontal-5-font-size: calc(var(--horizontal-5-spacer-size) * var(--letter-font-scaler));
  --horizontal-4-spacer-size: clamp(var(--horizontal-4-min-size), var(--horizontal-4-preferred-size), var(--horizontal-4-max-size));
  --horizontal-4-activator-size: calc(var(--horizontal-4-spacer-size) * var(--activator-container-scaler));
  --horizontal-4-font-size: calc(var(--horizontal-4-spacer-size) * var(--letter-font-scaler));

  /* ---- VERTICAL VARS ---- */
  --vertical-max-size: 97vw;
  --vertical-min-size: 48vw;
  --vertical-preferred-size: 73vh;
  --vertical-6-max-size: calc(var(--vertical-max-size) / 6);
  --vertical-6-min-size: calc(var(--vertical-min-size) / 6);
  --vertical-6-preferred-size: calc(var(--vertical-preferred-size) / 6);
  --vertical-5-max-size: calc(var(--vertical-max-size) / 5);
  --vertical-5-min-size: calc(var(--vertical-min-size) / 5);
  --vertical-5-preferred-size: calc(var(--vertical-preferred-size) / 5);
  --vertical-4-max-size: calc(var(--vertical-max-size) / 4);
  --vertical-4-min-size: calc(var(--vertical-min-size) / 4);
  --vertical-4-preferred-size: calc(var(--vertical-preferred-size) / 4);

  --vertical-6-spacer-size: clamp(var(--vertical-6-min-size), var(--vertical-6-preferred-size), var(--vertical-6-max-size));
  --vertical-6-activator-size: calc(var(--vertical-6-spacer-size) * var(--activator-container-scaler));
  --vertical-6-font-size: calc(var(--vertical-6-spacer-size) * var(--letter-font-scaler));
  --vertical-5-spacer-size: clamp(var(--vertical-5-min-size), var(--vertical-5-preferred-size), var(--vertical-5-max-size));
  --vertical-5-activator-size: calc(var(--vertical-5-spacer-size) * var(--activator-container-scaler));
  --vertical-5-font-size: calc(var(--vertical-5-spacer-size) * var(--letter-font-scaler));
  --vertical-4-spacer-size: clamp(var(--vertical-4-min-size), var(--vertical-4-preferred-size), var(--vertical-4-max-size));
  --vertical-4-activator-size: calc(var(--vertical-4-spacer-size) * var(--activator-container-scaler));
  --vertical-4-font-size: calc(var(--vertical-4-spacer-size) * var(--letter-font-scaler));
}

@media screen and (orientation: portrait) {
  .spacer:first-child:nth-last-child(6),
  .spacer:first-child:nth-last-child(6) ~ .spacer {
    height: var(--vertical-6-spacer-size);
    width: var(--vertical-6-spacer-size);
  }
  .spacer:first-child:nth-last-child(6)>.activator,
  .spacer:first-child:nth-last-child(6) ~ .spacer>.activator {
    height: var(--vertical-6-activator-size);
    width: var(--vertical-6-activator-size);
  }
  .spacer:first-child:nth-last-child(6)>.activator>.letter,
  .spacer:first-child:nth-last-child(6) ~ .spacer>.activator>.letter {
    font-size: var(--vertical-6-font-size);
  }
  .spacer:first-child:nth-last-child(6)>.board-letter-score,
  .spacer:first-child:nth-last-child(6) ~ .spacer>.board-letter-score {
    --size: calc((var(--vertical-6-spacer-size) - var(--vertical-6-activator-size)) * .6);
    font-size: calc(var(--size) * .8);
    width: var(--size);
    height: var(--size);
  }

  .spacer:first-child:nth-last-child(5),
  .spacer:first-child:nth-last-child(5) ~ .spacer {
    height: var(--vertical-5-spacer-size);
    width: var(--vertical-5-spacer-size);
  }
  .spacer:first-child:nth-last-child(5)>.activator,
  .spacer:first-child:nth-last-child(5) ~ .spacer>.activator {
    height: var(--vertical-5-activator-size);
    width: var(--vertical-5-activator-size);
  }
  .spacer:first-child:nth-last-child(5)>.activator>.letter,
  .spacer:first-child:nth-last-child(5) ~ .spacer>.activator>.letter {
    font-size: var(--vertical-5-font-size);
  }
  .spacer:first-child:nth-last-child(5)>.board-letter-score,
  .spacer:first-child:nth-last-child(5) ~ .spacer>.board-letter-score {
    --size: calc((var(--vertical-5-spacer-size) - var(--vertical-5-activator-size)) * .6);
    font-size: calc(var(--size) * .8);
    width: var(--size);
    height: var(--size);
  }

  .spacer:first-child:nth-last-child(4),
  .spacer:first-child:nth-last-child(4) ~ .spacer {
    height: var(--vertical-4-spacer-size);
    width: var(--vertical-4-spacer-size);
  }
  .spacer:first-child:nth-last-child(4)>.activator,
  .spacer:first-child:nth-last-child(4) ~ .spacer>.activator {
    height: var(--vertical-4-activator-size);
    width: var(--vertical-4-activator-size);
  }
  .spacer:first-child:nth-last-child(4)>.activator>.letter,
  .spacer:first-child:nth-last-child(4) ~ .spacer>.activator>.letter {
    font-size: var(--vertical-4-font-size);
  }
  .spacer:first-child:nth-last-child(4)>.board-letter-score,
  .spacer:first-child:nth-last-child(4) ~ .spacer>.board-letter-score {
    --size: calc((var(--vertical-4-spacer-size) - var(--vertical-4-activator-size)) * .6);
    font-size: calc(var(--size) * .9);
    width: var(--size);
    height: var(--size);
  }
}

@media screen and (orientation: landscape) {
  .spacer:first-child:nth-last-child(6),
  .spacer:first-child:nth-last-child(6) ~ .spacer {
    height: var(--horizontal-6-spacer-size);
    width: var(--horizontal-6-spacer-size);
  }
  .spacer:first-child:nth-last-child(6)>.activator,
  .spacer:first-child:nth-last-child(6) ~ .spacer>.activator {
    height: var(--horizontal-6-activator-size);
    width: var(--horizontal-6-activator-size);
  }
  .spacer:first-child:nth-last-child(6)>.activator>.letter,
  .spacer:first-child:nth-last-child(6) ~ .spacer>.activator>.letter {
    font-size: var(--horizontal-6-font-size);
  }
  .spacer:first-child:nth-last-child(6)>.board-letter-score,
  .spacer:first-child:nth-last-child(6) ~ .spacer>.board-letter-score {
    --size: calc((var(--horizontal-6-spacer-size) - var(--horizontal-6-activator-size)) * .6);
    font-size: calc(var(--size) * .8);
    width: var(--size);
    height: var(--size);
  }

  .spacer:first-child:nth-last-child(5),
  .spacer:first-child:nth-last-child(5) ~ .spacer {
    height: var(--horizontal-5-spacer-size);
    width: var(--horizontal-5-spacer-size);
  }
  .spacer:first-child:nth-last-child(5)>.activator,
  .spacer:first-child:nth-last-child(5) ~ .spacer>.activator {
    height: var(--horizontal-5-activator-size);
    width: var(--horizontal-5-activator-size);
  }
  .spacer:first-child:nth-last-child(5)>.activator>.letter,
  .spacer:first-child:nth-last-child(5) ~ .spacer>.activator>.letter {
    font-size: var(--horizontal-5-font-size);
  }
  .spacer:first-child:nth-last-child(5)>.board-letter-score,
  .spacer:first-child:nth-last-child(5) ~ .spacer>.board-letter-score {
    --size: calc((var(--horizontal-5-spacer-size) - var(--horizontal-5-activator-size)) * .6);
    font-size: calc(var(--size) * .8);
    width: var(--size);
    height: var(--size);
  }

  .spacer:first-child:nth-last-child(4),
  .spacer:first-child:nth-last-child(4) ~ .spacer {
    height: var(--horizontal-4-spacer-size);
    width: var(--horizontal-4-spacer-size);
  }
  .spacer:first-child:nth-last-child(4)>.activator,
  .spacer:first-child:nth-last-child(4) ~ .spacer>.activator {
    height: var(--horizontal-4-activator-size);
    width: var(--horizontal-4-activator-size);
  }
  .spacer:first-child:nth-last-child(4)>.activator>.letter,
  .spacer:first-child:nth-last-child(4) ~ .spacer>.activator>.letter {
    font-size: var(--horizontal-4-font-size);
  }
  .spacer:first-child:nth-last-child(4)>.board-letter-score,
  .spacer:first-child:nth-last-child(4) ~ .spacer>.board-letter-score {
    --size: calc((var(--horizontal-4-spacer-size) - var(--horizontal-4-activator-size)) * .6);
    font-size: calc(var(--size) * .9);
    width: var(--size);
    height: var(--size);
  }
}


.visited {
  background-color: var(--color-accent);
}