.row {
  display: flex;
  user-select: none;
  width: fit-content;
}

.board {
  touch-action: none;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  min-height: 30px;
  min-width: 30px;
  display: flex;
  align-content: center;
  align-items: center;
}
.letter {
  min-height: 20px;
  min-width: 20px;
  margin: auto;
}

.visited {
  background-color: brown;
}