.results {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1vh;
}
.results-main-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.results-main-container>div {
  width: 33%;
  overflow-y: auto;
  height: 100%;
}

.results-main-container>div:first-child {
  margin-right: auto;
}

.titles {
  display: flex;
}

.titles>div {
  width: 33%;
}

.titles>div:first-child {
  margin-right: auto;
  margin-left: 5px;
}

.titles>div:last-child {
  margin-left: auto;
  margin-right: 5px;
}
