@import "../style/constants.css";

.start-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
}

.start-screen-title {
  font-size: var(--font-size-title);
  margin: 1vh;
}

.start-screen-language {
  margin-top: 1vh;
  color: var(--color-accent);
  font-size: var(--font-size-title);
}

.start-screen-action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: .5vh;
}

.start-screen-refresh-board-button {
  background-color: var(--color-content-dark);
  color: var(--color-background-dark);
  padding: 0 .5vh;
  border-radius: .5vh;
  margin-left: .5vw;
  cursor: pointer;
}

.start-screen-start-prompt {
  font-weight: var(--font-weight-light);
  margin-top: auto;
}

.start-screen-start-button-universal {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-self: stretch;
  padding: 1vh;
  margin: 0;
  margin-top: 1vh;
}

.start-screen-start-button-universal div {
  margin-left: 0.5vh;
  font-size: var(--font-size-title);
}

.start-screen-start-button-universal svg {
  margin-top: auto;
  margin-bottom: auto;
}

.start-screen-start-button-disabled {
  background-color: var(--color-content-dark);
  color: var(--color-background-dark);
  user-select: none;
  cursor: default;
}

.start-screen-start-button {
  background-color: var(--color-accent);
  color: var(--color-background-light);
  cursor: pointer;
}
