@import "../style/constants.css";

.start-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
}

/* Start game button */
.start-screen>div:last-child {
  padding-block: 1vh;
}

.start-screen-title {
  font-size: var(--font-size-title);
  margin: 1vh;
}

.start-screen-language {
  margin-top: 1vh;
  color: var(--color-accent);
  font-size: var(--font-size-title);
}

.start-screen-action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: .5vh;
  white-space: nowrap;
}

.start-screen-action-bar>div:first-child:nth-last-child(2) {
  margin-inline-end: 1rem;
}

.start-screen-refresh-board-button {
  background-color: var(--color-content-dark);
  color: var(--color-background-dark);
  padding: 0 .5vh;
  border-radius: .5vh;
  margin-left: .5vw;
  cursor: pointer;
}

.start-screen-start-prompt {
  font-weight: var(--font-weight-light);
  margin-top: auto;
}

.start-screen-auto-redirect-hint {
  font-weight: var(--font-weight-light);
  margin-top: 1vh;
}

.start-screen-android-app-redirect-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.start-screen-android-app-redirect-options>.button-component {
  margin-inline-end: 5vw;
}

.start-screen-android-app-redirect-options>.button-component:last-child {
  margin-inline-end: 0;
}
