@import '../style/constants.css';

.light {
  background-color: var(--color-background-light);
  color: var(--color-content-light);
}

.dark {
  background-color: var(--color-background-dark);
  color: var(--color-content-dark);
}

.defaults {
  font-size: var(--font-size);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}
