@import "../../../style/constants.css";

.lexicle-score {
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
}

.lexicle-score-word-container {
  display: flex;
  flex-direction: row;
}

.lexicle-score-letter-container.in-word {
  background-color: var(--color-yellow);
}

.lexicle-score-letter-container.perfect {
  background-color: var(--color-green);
}

.lexicle-score-letter-container.not-in-word {
  background-color: var(--color-red);
}

.lexicle-score-letter-container {
  margin: .5vh;
  padding: 1vh;
  color: var(--color-background-dark);
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-bold);
  vertical-align: middle;
  font-size: var(--font-size-title);
}
