.guess-list {
  display: flex;
  margin-top: 5px;
  min-height: 20px;
  overflow-x: hidden;
}

br {
  color: grey;
  height: 2px;
}

.last-guess {
  margin: auto;
  min-height: 20px;
  align-self: center;
}

.guess {
  color: gray;
  text-decoration: line-through;
  margin-left: 5px;
}

.correct-guess {
  color: black;
  text-decoration: none;
  margin-left: 5px;
}
