@import "./style/constants.css";

body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--color-background-dark);
  color: var(--color-content-dark);
}

hr {
  color: var(--color-accent);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
