name: Run tests and Build

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  run-tests-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install dependencies
        run: yarn install
      
      - name: Run tests
        run: yarn test
      
      - name: Make test build
        run: yarn build
