name: Run a test build

on:
  pull_request:
    branches: [ master ]

jobs:
  run-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm install
      
      - name: Make test build
        run: npm run build
