name: Run tests and build

on:
  pull_request:
    branches: [ master ]

jobs:
  run-tests-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Make test build
        run: npm run build
